.box {
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;

  align-self: center;

  padding: 2rem;
  max-width: 80%;

  border-style: solid;
  background-color: rgb(241, 241, 241, 0.8);
  border-width: 1px;
  border-radius: 10px;
  border-color: rgb(121, 121, 121);
  box-shadow: 10px 10px 50px;
}

.body {
  /* border-style: solid; */
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

#img {
  margin: auto;
  margin-top: 3rem;
  width: 100px;
}
